{{- define "main" }}
<div>
  <div>
    <h2 class="post-title">
      {{ if .Draft }}DRAFT: {{ end }}
      {{ .Title }}
    </h2>
    {{ partial "post_meta.html" . }}
  </div>
  <div>
    {{ .Content }}
  </div>
  <hr>
  <div>
    Comments
    <form method="POST" action="https://api.staticman.net/v3/entry/github/valzi/light-transmuter/master/comments">
  <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>

  <button type="submit">Go!</button>
</form>
<!--    {{ partial "related.html" . }}
    {{ partial "staticman-comments.html" . }}-->

<!--    {{ partial "staticman/form-comments" . }}
    {{ partial "staticman/show-comments" . }} -->
<!--    {{ template "_internal/disqus.html" . }} -->
  </div>
</div>
{{- end }}
