{{- define "main" }}
<div>
  <div>
    <h2 class="post-title">
      {{ if .Draft }}DRAFT: {{ end }}
      {{ .Title }}
    </h2>
    {{ partial "post_meta.html" . }}
  </div>
  <div>
    {{ .Content }}
  </div>
  <hr>
  {{ $related := .Site.RegularPages.Related . }}
  <div>
      {{ if .Site.Params.staticman }}
      <div class="staticman-comments">
        {{ partial "staticman-comments.html" . }}
      </div>
      {{ end }}
<!--    {{ partial "staticman/form-comments" . }}
    {{ partial "staticman/show-comments" . }} -->
<!--    {{ template "_internal/disqus.html" . }} -->
  </div>
</div>
{{- end }}
